.MainHeading {
  color: rgb(245, 239, 239);
  background-color: rgb(147, 176, 229);
  padding: 0px 50px 0px 50px;
  font-family: sans-serif;
  text-decoration: underline;
  width: 280px;
  height: 50px;
  text-align: center;
  margin: auto;
}
.Description {
  background-color: yellow;
  font-family: Helvetica, sans-serif;
  text-align: center;
}
.Naruto {
  background-color: rgb(202, 245, 102);
  height: 520px;
  width: auto;
  padding-left: 165px;
  padding-right: 165px;
  border-radius: 8px;
}
